# --- UI & Core ---
streamlit==1.32.0

# --- Biometrics & Computer Vision ---
opencv-contrib-python-headless
numpy<2.0.0
pillow
pyzbar

# --- AI, Chatbot & LangChain ---
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
langgraph
groq
faiss-cpu
python-dotenv

# --- Machine Learning & Models ---
scikit-learn
xgboost
catboost
joblib
safetensors
torch

# --- Data, EDA & Utils ---
pandas
matplotlib
seaborn
plotly
scipy
pypdf
requests
PyYAML